/* Reset universal do Box Model */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  padding-top: 20px; /* Espaço para ver os exemplos */
}

/* Container para os exemplos */
.container {
  border: 2px dashed #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

/* Estilo base para todas as caixas */
.caixa {
  width: 200px;
  height: 100px;
  padding: 10px;
  border: 3px solid #333;
  margin: 10px;
}

/* Dando cores para identificar */
#caixa1 {
  background-color: #e67e22;
}
#caixa2 {
  background-color: #2ecc71;
}
#caixa3 {
  background-color: #3498db;
}
#caixa4 {
  background-color: #9b59b6;
}

#caixa2 {
  position: relative;
  top: 30px; /* Desce 30px */
  left: 50px; /* Vai 50px para a direita */
  z-index: 10; /* Fica na frente da caixa 3 */

  /* O espaço original da Caixa 2 (verde) ainda está lá, 
       mas a caixa 3 (azul) vai se sobrepor a ela! */
}

/* Para fazer a Caixa 3 ser absoluta DENTRO do container: */
.container {
  position: relative; /* O PAI se torna a referência! */
  border: 2px dashed #ccc;
  padding: 10px;
}

#caixa3 {
  position: absolute;
  top: 5px; /* 5px do topo do .container */
  right: 5px; /* 5px da direita do .container */
  width: 100px; /* Reduzimos para caber */
  z-index: 5; /* Fica atrás da caixa 2 */
}

#caixa4 {
  position: fixed;
  bottom: 10px; /* 10px do final da janela */
  right: 10px; /* 10px da direita da janela */
  width: 250px;
  /* Esta caixa vai ficar no canto da tela, 
       mesmo se você rolar a página */
}

#caixa2 {
  /* Relative */
  /* ... */
  z-index: 10; /* Fica na frente da caixa 3 */
}

#caixa3 {
  /* Absolute */
  /* ... */
  z-index: 5; /* Fica atrás da caixa 2 */
}

.avatar-flutuante {
    float: left;
    width: 300px;
    margin-right: 15px; /* Espaço entre a imagem e o texto */
}